@import url(./fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{
    margin: 0 auto;
    width: 940px;
}

.head__ul{
    height: 87px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
}

.head__li{
    color: black;
}

li{
    list-style: none;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

.name .cont{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.name__h{
    margin: 30px 0 0 0;
    width: 123px;
    height: 118px;
    font-family: Gilroy-Bold;
    font-size: 47.3392px;
    line-height: 59px;
}

.name__p{
    margin: 0 0 10px 0;
    width: 155px;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
}

.name__ul{
    margin: 0 -26px 35px 0;
    width: 68px;
    height: 20px;
    display: flex;
    flex-direction: row;
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
}

.denis .cont{
    margin: 40px auto;
    width: 943px;
    height: 387px;
    background: url(./assets/img/denis.png);
}

.about .cont{
    margin: 220px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__span{
    margin: 0 0 0 0;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.about__text{
    margin: 20px 0 0 0;
    width: 485px;
    height: 218px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skils .cont{
    margin: -24px auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.skils__span{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.skils__p{
    margin: 56px 0 0 0;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.programs .cont{
    width: 912px;
    margin: 112px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.programs__img{
    width: 166px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.programs__p{
    margin: 22px 0 0 0;
    width: 70px;
    height: 27px;
}

.programs__item{
    margin: 45px 0 0 0;
    width: 166px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile .cont{
    margin: 0 auto;
    width: 936px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__span{
    margin: 106px 0 0 0;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.profile__img{
    margin: 54px 0 0 0;
    width: 936px;
    height: 510px;
    background: url(./assets/img/wuman.png);
}

.profile__p{
    margin: 44px 0 0 0;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;    
}

.rebock .cont{
    margin: 104px auto;
    display: flex;
    flex-direction: column;
}

.rebock__img{
    background: url(./assets/img/reebok.png);
    width: 936px;
    height: 522px;
}

.rebock__p{
    margin: 40px 0 0 0;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
}

.camera .cont{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.camera__img{
    background: url(./assets/img/fen.png);
    width: 936px;
    height: 522px;
}

.camera__p{
    margin: 40px 0 0 0;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
}

.contact .cont{
    margin: 206px auto 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact__span{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

.contact__p{
    margin: 26px 0 0 0;
    width: 275px;
    height: 44px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.contact__btn{
    margin: 32px 0 0 0;
    width: 180px;
    height: 42px;
    border: none;
    border-radius: 18px;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #070707;

}

.media .cont{
    margin: 85px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media__item{
    width: 342px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.media__p{
    margin: 44px 0 0 0;
    width: 242px;
    height: 34px;
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
.head__burger{
    display: none;
}
@media screen and (max-width:375px){
    .cont{
        width: 316px;
    }
    .head__ul{
        display: none;
    }
    .head .cont{
        position: relative;
    }
    .head__burger{
        display: block;
        position: absolute;
        right: 0;
        top: 50px;
    }
    .name .cont{
        flex-direction: column;
        align-items: flex-start;
    }
    .name p{
        margin-top: 23px;
    }
    .denis .cont{
        width: 316px;
        
    }
    .about p{
        width: 316px;
    }
    .programs .cont{
        flex-direction: column;
        width: 316px;
    }
    .programs img{

    }
}

